<div class="reminder-container" (click)="exit()">
  <div class="reminder-box" (click)="$event.stopPropagation();">
    <div class="reminder-header">
      <button class="btn-close" (click)="exit()">X</button>
    </div>
    <div class="field" *ngIf="editMode">
      <p class="red-text">* Required fields</p>
    </div>
    <form [formGroup]="reminderForm">
      <div class="field">
        <p>Title<span class="red-text" *ngIf="editMode">*</span></p>
        <input type="text" id="title" formControlName="title" placeholder="Add a title to the reminder">
        <p class="red-text" *ngIf="fieldHasError('title')">Insert a title</p>
      </div>

      <div class="field">
        <p>Date<span class="red-text" *ngIf="editMode">*</span></p>
        <input id="date" id="date" formControlName="date" type="date">
        <p class="red-text" *ngIf="fieldHasError('date')">Insert a date</p>
      </div>

      <div class="field">
        <p>Time<span class="red-text" *ngIf="editMode">*</span></p>
        <input type="time" id="reminder-time" formControlName="time">
        <p class="red-text" *ngIf="fieldHasError('time')">Insert a time</p>
      </div>

      <div class="field">
        <p>Description</p>
        <input type="text" id="description" placeholder="Add location" maxlength="30" formControlName="description">
      </div>

      <div class="field">
        <p>Color</p>
        <select id="color" formControlName="color">
          <option value="default">Blue</option>
          <option value="green">Green</option>
          <option value="yellow">Yellow</option>
          <option value="red">Red</option>
        </select>
      </div>

      <div class="field">
        <p>City</p>
        <input type="text" id="city" placeholder="Add location" (input)="onCityFieldType($event.target.value)"
          formControlName="city">
        <div class="autocomplete-option" *ngFor="let city of cityAutoComplete"
          (click)="onClickAutoCompleteCity(city.name)">
          {{ city.name }}
        </div>
      </div>

      <div class="forecast" id="forecast" *ngIf="weatherForecast">
        <img src="{{ weatherForecast.condition.icon }}" alt="icon weather">
        <p><b>Condition:</b> {{ weatherForecast.condition.text }}</p>
        <p><b>Average temperature:</b> {{ weatherForecast.avgtemp_c }}ºC</p>
        <p><b>Chance of rain:</b> {{ weatherForecast.daily_chance_of_rain }}%</p>
      </div>

      <div class="field footer">
        <br>
        <button class="btn-edit" id="btn-edit" (click)="enableFormEdit()" *ngIf="!editMode">Edit</button>
        <button class="btn-delete" id="btn-delete" (click)="onDelete()" *ngIf="!editMode && selectedReminder.id">Delete</button>
        <button class="btn-submit" id="btn-submit" (click)="onSubmit()" *ngIf="editMode">Save</button>
      </div>

    </form>
  </div>
</div>
