@import 'src/assets/styles/colors';

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: $color-info;
    padding: 6px;
}

p {
    color: white;
    text-align: center;
}

a {
    font-weight: bold;
    color: white;
}