footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #5382ec;
    padding: 6px;
}

p {
    color: white;
    text-align: center;
}

a {
    font-weight: bold;
    color: white;
}