<div class="reminder-container" (click)="exit()">
  <div class="reminder-box" (click)="$event.stopPropagation();">
    <div class="reminder-header">
      <button (click)="exit()">X</button>
    </div>
    <form [formGroup]="reminderForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <p>Title</p>
        <input type="text" formControlName="title" placeholder="Add a title to the reminder">
      </div>

      <div class="field">
        <p>Date</p>
        <input id="date" formControlName="date" type="date">
      </div>

      <div class="field">
        <p>Time</p>
        <input type="time" id="reminder-time" formControlName="time">
      </div>

      <div class="field">
        <p>Location</p>
        <input type="text" placeholder="Add location">
      </div>
      
      <div class="field">
        <p>Description</p>
        <input type="textarea" placeholder="Add location">
      </div>
      <br>
      <input type="submit" value="Save">
    </form>
  </div>
</div>
