<div class="container-calendar">

  <app-new-reminder 
    *ngIf="reminderModalVisible"
    [selectedDay]="selectedDay"
    (changeVisibility)="onChangeReminderVisibility($event)"
    (submitReminder)="onReminderModalSubmit($event)"
    ></app-new-reminder>

  <div class="title-month">
    <button (click)="showOtherMonth('previous')">Previous</button>
    <h2>{{ selectedDay | date: 'MMMM y' }}</h2>
    <button (click)="showOtherMonth('next')">Next</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    </thead>
  </table>

  <div class="container-grid">
    <div class="grid-row" *ngFor="let day of month" [class.weekend]="isWeekend(day.date)" (click)="createNewReminder(day)">
      <p class="day" [class.today-calendar-mark]="day.currentDay"
        [class.other-month-day]="isDayFromOtherMonth(day.date)">
        {{ day.date | date: 'd' }}
      </p>

      <div class="reminder-flag" *ngFor="let reminder of day.reminders"
        (click)="$event.stopPropagation(); openReminder()">
        <p>{{ reminder.title }}</p>
      </div>
    </div>
  </div>

  <button>Add reminder</button>

</div>
