<div class="container-calendar">

  <app-new-reminder *ngIf="remiderCreatorVisible" [selectedDay]="selectedDay" (events)="onEventSubmit($event)"></app-new-reminder>


  <div class="title-month">
    <button (click)="showOtherMonth('previous')">Previous</button>
    <h2>{{ selectedDay | date: 'MMMM y' }}</h2>
    <button (click)="showOtherMonth('next')">Next</button>
  </div>

  <table>
    <thead>
      <tr>
        <th class="fc-day-header fc-widget-header fc-sun">Sunday</th>
        <th class="fc-day-header fc-widget-header fc-mon">Monday</th>
        <th class="fc-day-header fc-widget-header fc-tue">Tuesday</th>
        <th class="fc-day-header fc-widget-header fc-wed">Wednesday</th>
        <th class="fc-day-header fc-widget-header fc-thu">Thursday</th>
        <th class="fc-day-header fc-widget-header fc-fri">Friday</th>
        <th class="fc-day-header fc-widget-header fc-sat">Saturday</th>
      </tr>
    </thead>
  </table>

  <div class="container-grid">
    <div class="grid-row" *ngFor="let day of month" [class.weekend]="isWeekend(day.date)" (click)="createNewReminder(day)">
      <p class="day" [class.today-calendar-mark]="day.currentDay"
        [class.other-month-day]="isDayFromOtherMonth(day.date)">
        {{ day.date | date: 'd' }}
      </p>

      <div class="reminder-flag" *ngFor="let reminder of day.reminders"
        (click)="$event.stopPropagation(); openReminder()">
        <p>{{ reminder.title }}</p>
      </div>
    </div>
  </div>

  <button>Add reminder</button>

</div>
