<div class="container-calendar">
  <table>
    <thead>
      <tr>
        <th class="fc-day-header fc-widget-header fc-sun">Sunday</th>
        <th class="fc-day-header fc-widget-header fc-mon">Monday</th>
        <th class="fc-day-header fc-widget-header fc-tue">Tuesday</th>
        <th class="fc-day-header fc-widget-header fc-wed">Wednesday</th>
        <th class="fc-day-header fc-widget-header fc-thu">Thursday</th>
        <th class="fc-day-header fc-widget-header fc-fri">Friday</th>
        <th class="fc-day-header fc-widget-header fc-sat">Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
</div>
