$color-blue: #5382ec;
$color-red: #ec6767;
$color-green: #67eca8;
$color-yellow: #eaec67;

$color-light-grey: #efefef;
$color-grey: #a5a5a5;
$color-current-day: #00b105;

.container-calendar {
  padding: 5vw;
  max-width: 1060px;
  margin: auto;
}

.title-month {
  padding: 0 10px 10px;
  text-align: center;
}

table {
  width: 100%;
  table-layout: fixed;
  background-color: white;
  border-collapse: collapse;
}

thead tr {
  background-color: $color-blue;
  color: white;
}

.day {
  padding: 5px;
}

.weekend {
  background-color: $color-light-grey;

  .day.today-calendar-mark {
    color: white;
  }

  .day {
    color: $color-blue;
  }
}

.today-calendar-mark {
  color: white;
  background-color: $color-current-day;
  width: 26px;
  text-align: center;
  border-radius: 5px;
  margin-left: 5px;

  &.weekend {
    color: white;
  }
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid-row {
  background-color: white;
  border: 1px solid $color-grey;
  font-weight: bold;
  min-height: 12vh;
  overflow: hidden;

  &.weekend {
    background-color: $color-light-grey;
  }
}

.other-month-day {
  color: $color-grey;
}

.reminder-flag {
  padding: 1px 5px;
  cursor: pointer;
}

.reminder-flag p {
  padding: 2px 0;
  background-color: $color-blue;
  overflow: hidden;
  max-height: 20px;

  &.green {
    background-color: $color-green;
  }
  &.red {
    background-color: $color-red;
  }
  &.yellow {
    background-color: $color-yellow;
  }
}

.reminder-all-day-flag {
  background-color: #fb7878;
  color: white;
  cursor: pointer;
}

.reminder-block {
  margin-top: 25px;
}
