.container-calendar {
    padding: 5vw;
}

table {
  width: 100%;
  table-layout: fixed;
  background-color: white;
  border-collapse: collapse;
}

thead tr {
    background-color: #5382ec;
    color: white;
}

th {
    padding: 5px;
}

td {
  height: 12vw;
  border: 2px solid #d0d0d0;
  padding: 5px;
  vertical-align: top;
}
