@import 'src/assets/styles/colors';

$color-current-day: #48bd81;

.container-calendar {
  padding: 5vh;
  max-width: 1060px;
  margin: auto;

  @media (max-width: 680px) {
    padding: 10px;
  }

  @media (max-width: 400px) {
    padding: 5px;
  }
}

.calendar-header {
  padding: 10px 10px;
  background-color: white;
  border: 1px solid $color-grey;

  .options {
    display: table;
    margin-left: auto;
  }
}

.title-month {
  display: flex;
  position: absolute;

  h2 {
    min-width: 200px;
    text-align: center;
    padding: 3px 8px;
  }

  button {
    padding: 3px 8px;
  }
}

table {
  width: 100.1%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid $color-grey;
}

thead tr {
  background-color: $color-info;
  color: white;
}

.weekday-full {
  display: block;

  @media (max-width: 580px) {
    display: none;
  }
}

.weekday-abbreviation {
  display: none;

  @media (max-width: 580px) {
    display: block;
  }
}

.day {
  padding: 5px;
}

.weekend {
  background-color: $color-light-grey;

  .day.today-calendar-mark {
    color: white;
  }

  .day {
    color: $color-info;
  }
}

.today-calendar-mark {
  color: white;
  background-color: $color-current-day;
  width: 26px;
  text-align: center;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 2px 5px;

  &.weekend {
    color: white;
  }
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid-row {
  background-color: white;
  border: 1px solid $color-grey;
  font-weight: bold;
  min-height: 12vh;
  overflow: hidden;

  &.weekend {
    background-color: $color-light-grey;
  }
}

.other-month-day {
  color: $color-grey;
}

.reminder-flag {
  padding: 1px 5px;
  cursor: pointer;
}

.reminder-flag p {
  padding: 2px 4px;
  background-color: $color-info;
  color: white;
  overflow: hidden;
  max-height: 20px;

  &.green {
    background-color: $color-success;
    color: black;
  }

  &.red {
    background-color: $color-danger;
    color: white;
  }

  &.yellow {
    background-color: $color-warning;
    color: black;
  }
}

.reminder-block {
  margin-top: 25px;
}

.success-message {
  padding: 15px;
  margin: 10px 0;
  background-color: $color-success;
  border: 2px solid $color-current-day;
  font-weight: bold;
  border-radius: 10px;
}
